.small-box{
    width: 160px;
    height: 180px;
}
.small-box > h3{
    font-size: 18px;
    /* border: 1px solid black; */
}

.with-padding{
    /* border: 1px solid red; */
    height: 460px;
}
.adjust-box{
    /* height: 400px; */
    width: 400px;
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin-left: -24px;
}
.change:hover{
    color: rgb(52,103,145);
}
.no-padding > img{
    height: 287px;
    box-sizing: border-box;
    width: 399.300px;
    padding-left: 1px;
    /* border: 1px solid green; */
}

.col-12-small{
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-around;
}
.button{
    background-color: rgb(52,103,145);
    margin-right: 30px;
    border-radius: 10px;
}
.button:hover{
    background-color: rgb(75, 117, 152);
}
.actions > li > input:hover{
    background-color: rgb(75, 117, 152);
}
.actions > li > input{
    background-color: rgb(52,103,145);
}